*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/icona1.png
/app/esborrrarBuild.bat
/escales.gnumeric
/app/src/main/res/mipmap-hdpi/ic_launcher.png
/app/src/main/res/mipmap-mdpi/ic_launcher.png
/app/src/main/res/mipmap-xhdpi/ic_launcher.png
/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
/ic_launcher (1).zip
/app/src/main/res/mipmap-hdpi/ic_launcher_adaptive_back.png
/app/src/main/res/mipmap-mdpi/ic_launcher_adaptive_back.png
/app/src/main/res/mipmap-xhdpi/ic_launcher_adaptive_back.png
/app/src/main/res/mipmap-xxhdpi/ic_launcher_adaptive_back.png
/app/src/main/res/mipmap-xxxhdpi/ic_launcher_adaptive_back.png
/app/src/main/res/mipmap-hdpi/ic_launcher_adaptive_fore.png
/app/src/main/res/mipmap-mdpi/ic_launcher_adaptive_fore.png
/app/src/main/res/mipmap-xhdpi/ic_launcher_adaptive_fore.png
/app/src/main/res/mipmap-xxhdpi/ic_launcher_adaptive_fore.png
